{% load i18n %}
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'ana_sayfa' %}active{% endif %}" href="{% url 'ana_sayfa' %}">
            <i class="bi bi-box-seam"></i> {% trans "Ürünler" %}
        </a>
    </li>
    <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'hizli_urun_ekle' %}active{% endif %}" href="{% url 'hizli_urun_ekle' %}">
        <i class="bi bi-lightning-charge"></i> {% trans "Hızlı Ürün Ekle" %}
    </a>
</li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'kategori_listesi' %}active{% endif %}" href="{% url 'kategori_listesi' %}">
            <i class="bi bi-diagram-3"></i> Kategoriler
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'satis_ekrani' %}active{% endif %}" href="{% url 'satis_ekrani' %}">
            <i class="bi bi-cash-coin"></i> {% trans "Satış Ekranı" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'satis_raporu' %}active{% endif %}" href="{% url 'satis_raporu' %}">
            <i class="bi bi-graph-up-arrow"></i> Satışlar
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'barkod_tara' %}active{% endif %}" href="{% url 'barkod_tara' %}">
            <i class="bi bi-upc-scan"></i> {% trans "Barkod Tara" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'firma_listesi' %}active{% endif %}" href="{% url 'firma_listesi' %}">
            <i class="bi bi-building"></i> {% trans "Firmalar" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'senet_takip' %}active{% endif %}" href="{% url 'senet_takip' %}">
            <i class="bi bi-bank"></i> {% trans "Senet Takip" %}
        </a>
    </li>
</ul>
